*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --red: 0;
    --green: 0;
    --blue: 0;
    --alpha:1;
}




body {
    display :grid;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
    background: rgba(var(--red), var(--green), var(--blue), var(--alpha));
}

img {
    width: 100vh;
}

label {
    width:55vw;
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid black;
    border-radius: .25em;
    padding: .5em;
    display: flex;
}

input[type=range] {
    margin-left: auto; 
    margin-right: auto;
    display: block;
    width: 40vw;
}

input[type=text] {
    margin-left: auto;
    display: block;
    min-width: 3vw;
    border-radius: .25em;
    padding: 0 .3em ;
    font-size: 1.5em;
}
