/*https://lenguajecss.com/p/css/propiedades/grid-css*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
}

:root {
    --red: 0;
    --green: 0;
    --blue: 0;
    --alpha: 1;
    --color-rgba: rgba(var(--red), var(--green), var(--blue), var(--alpha));

    --z-back: -10;
    /*si se quiere mandar al fondo*/
    --z-normal: 1;
    /*si se ve uno raro */
    --z-tooltip: 10;
    /*mensajes tooltip*/
    --z-fixed: 100;
    /* elemento fijo en el DOM*/
    --z-modal: 1000;
    /*capa que oculta todo*/

    --column-width-color: 80vw;
    --column-width-result: 20vw;

    --font-main: 'Ropa Sans', sans-serif;
}

@media (max-width: 767px) {
    #main {
        flex-wrap: wrap;
    }

    #color {
        --column-width-color: 100vw;
    }

    #result {
        --column-width-result: 100vw;
    }

    .posicion {
        display: block;
    }
}

#main {
    display: flex;
}

#color {
    display: grid;
    min-height: 100vh;
    width: var(--column-width-color);
    align-content: center;
    justify-content: center;
    background: var(--color-rgba);
}

label {
    width: 55vw;
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid black;
    border-radius: .25em;
    padding: .5em;
    display: flex;
}

label:hover {
    border-color:
}

input[type=range] {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40vw;
}

input[type=button] {
    width: 55vw;
    background: #fff;
    border: 1px solid black;
    border-radius: .25em;
    padding: .5em;
    font-family: var(--font-main);
    font-size: 1.3em;
}

input[type=button]:hover {
    width: 55vw;
    color: var(--color-rgba);
    border-color: white;
    border-radius: .25em;
    padding: .5em;
    font-family: var(--font-main);
    font-size: 1.3em;
}

.marcador {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid black;
    border-radius: .25em;
    font-family: var(--font-main);
    background: white;
    min-width: 10vw;
    border-radius: .25em;
    margin-left: 1em;
    padding-top: .3em;
    font-size: 1.5em;
    text-align: center;
}

.rango {
    display: flex;
}

#result {
    padding: 1em;
    min-height: 100vh;
    min-width: 30vw;
    width: var(--column-width-result);
    font-family: var(--font-main);
    font-size: 1.3em;
}
ul li {
    margin-bottom: 10px;
    clear: both;
}
li div {
    margin-right: 10px;
    float: left;
    width: 25px;
    height: 25px;
    /* background: var(--color-rgba);*/
    border: 1px solid black;
}
